/server/node_modules
/backend/node_modules
/deployment-infrastruture/.terraform
/deployment-infrastruture/.terraform.lock.hcl
/deployment-infrastruture/*.tfstate
/deployment-infrastruture/*.tfstate.backup
